.btn{
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: 1px solid var(--diffrentColor);
    padding: 10px 20px;
    color: var(--diffrentColor);
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.05em;
    z-index: 0;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: var(--diffrentColor);
    transition: all 0.5s;
    z-index: -1;
}

.btn:hover, .btn:focus{
    color: var(--mainColor);
}
.btn:hover::before, .btn:focus::before {
    left: 0;
    right: 0;
}


