.btn{
    position: relative;
    background-color: var(--diffrentColor);
    border: none;
    padding: 10px 20px;
    color: var(--mainColor);
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.05em;
}
