.why-hire-container{
    opacity: 0;
}

.why-hire-section{
    background-color: var(--mainColor);
}

.why-hire-section h2{
    color: var(--diffrentColor);
}

.why-hire-section p{
    color: var(--typoColor);
}