.contact-section{
    background-color: var(--mainColor);
}

.contact-section>.container h2{
    color: var(--diffrentColor);
}
.contact-section>.container a{
    color: var(--largetextoColor);
    transition: color 0.3s;
}
.contact-section>.container a:hover{
    color: var(--diffrentColor);
}
