.dots{
    display: flex;
    flex-direction: column;
    gap: 2em;
    position: fixed;
    top: 50%;
    right: 4%;
}

.dots .dot{
    cursor: pointer;
    padding: 0.2em;
    border-radius: 50%;
    background-color: var(--diffrentColor);
}

.dots .active{
    background-color: var(--secoundaryColor);
}