*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


:root{
    --mainColor: #F2E9D9;
    --secoundaryColor: #D4AF37;
    --diffrentColor: #001B44;
    --largetextoColor: #CC5500;
    --lighttypoColor: #ffffff;
    --darktypoColor: #000000;
}

html{
    scrollbar-width: none;
}
body{
    overflow-x: hidden;
}

[data-theme="light"]{
    --mainColor: #F2E9D9;
    --secoundaryColor: #D4AF37;
    --diffrentColor: #001B44;
    --largetextoColor: #CC5500;
    --typoColor: #000000;
}
[data-theme="dark"]{
    --mainColor: #001B44;
    --secoundaryColor: #D4AF37;
    --diffrentColor: #F2E9D9;
    --largetextoColor: #E3735E;
    --typoColor: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
      --mainColor: #001B44;
      --secoundaryColor: #D4AF37;
      --diffrentColor: #F2E9D9;
      --largetextoColor: #E3735E;
      --typoColor: #ffffff;
    }
}
@media (prefers-color-scheme: light) {
    :root {
      --mainColor: #F2E9D9;
      --secoundaryColor: #D4AF37;
      --diffrentColor: #001B44;
      --largetextoColor: #CC5500;
      --typoColor: #000000;
    }
    
}