header{
    background-color: var(--mainColor);
    color: var(--typoColor);
}
header>main{
    min-height: 100vh;
}

header main .img>img{
    transition: transform 0.5s;
    animation: circle 4s;
}
header main .img>img:hover{
    transform: scale(1.3) !important;
}

header .name{
    width: 20px;
    max-width: fit-content;
    line-height: normal;
    color: var(--largetextoColor);
    white-space: nowrap;
    border-right: 1px solid var(--typoColor);
}


@keyframes circle {
    0% {
      clip-path: circle(100% at 50% 50%);
      transform: scale(1.5);
    }
    20% {
      clip-path: circle(15% at 50% 50%);
    }
    40% {
      clip-path: circle(15% at 30% 50%);
    }
    60% {
      clip-path: circle(15% at 80% 50%);
    }
    80% {
      clip-path: circle(15% at 50% 50%);
    }
    100% {
      clip-path: circle(100% at 50% 50%);
    }
  }


