main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainColor);
    color: var(--typoColor);
    height: 80vh;
    padding: 2em 0;
}

main .text{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
    width: clamp(20em, 50dvw, 30em);
}

.img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.name{
    position: absolute;
    display: inline-block;
    margin-left: 0.2em;
    color: var(--largetextoColor);
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid var(--typoColor);
}

@media screen and (max-width: 600px) {
    main{
        flex-direction: column-reverse;
    }
}
