nav{
    --bs-navbar-color: var(--typoColor) !important;
    --bs-navbar-hover-color: var(--typoColor) !important;
    --bs-navbar-active-color: var(--secoundaryColor) !important;
    --bs-navbar-brand-color: var(--typoColor) !important;
    --bs-navbar-brand-hover-color: var(--typoColor) !important; 
    box-shadow: 0 0 5px var(--shadowColor);
}

nav a::after{
    content: '';
    width: 0;
    background-color: var(--secoundaryColor);
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

nav .active::after{
    content: '';
    width: 5px;
}

.menu-btn{
    color: var(--diffrentColor);
}

.dropdown-ul a{
    color: var(--typoColor);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.dropdown-ul a:hover, .dropdown-ul a:focus{
    background-color: var(--diffrentColor);
    color: var(--mainColor);
}

.dark-mode{
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
    color: var(--diffrentColor);
    border: 1px solid var(--diffrentColor);
}
