.swiper {
    width: 100%;
    height: calc(100vh - 80px);
    color: var(--typoColor);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--mainColor);
}

.swiper-slide img {
display: block;
width: 100%;
min-height: 100%;
object-fit: cover;
}

.swiper-v {
background: var(--mainColor);
}

.swiper-pagination-bullet {
    background: #6c8f04;
    opacity: 0.5;
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
} 

    

        
        